@model string
@{
    var noLabel = ViewData["noLabel"] as bool? ?? false;

    var placeholder = ViewData["placeholder"] as string ?? "Enter value";
    var maxLength = ViewData["maxLength"] as int? ?? 100;
}

<div class="form-floating mb-3">
    @Html.TextBoxFor(m => m, new
        {
            @class = "form-control",
            placeholder = placeholder,
            maxlength = maxLength,
        })
    @if (!noLabel)
    {
        <label>@Html.DisplayNameFor(m => m)</label>
    }
</div>
